<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zipcode %>
    <%= f.number_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :promotion %>
    <%= f.text_area :promotion %>
  </div>
  <div class="field">
    <%= f.label :lastdate %>
    <%= f.date_field :lastdate %>
  </div>
  <div class="actions" style="background-color: bisque;
  padding: 5px; width: 150px;
  text-align: center;
  border-radius: 25px;">
    <%= f.submit %>
  </div>
<% end %>
