<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @campaign.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @campaign.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @campaign.zipcode %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campaign.description %>
</p>

<p>
  <strong>Promotion:</strong>
  <%= @campaign.promotion %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
